{% extends 'base_fluid.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock title %}

{% block body %}
    <section class="container-fluid mt-16 sm:mt-8">
        {{ include('components/landing/hero.html.twig') }}
    </section>

    <section class="container my-12 flex flex-col md:flex-row mb-5 px-5 sm:p-0 sm:mb-16">
        {% if isFeatureEnabled(constant('App\\Entity\\Core\\Feature::WEB_APPLICATION')) %}
            <div class="w-full md:w-1/2 mb-5 xl:mb-0 md:min-h-400">
                {{ include('components/landing/release.html.twig', {
                    released: isFeatureEnabled(constant('App\\Entity\\Core\\Feature::WEB_APPLICATION'))
                }) }}
            </div>

            <div class="flex items-center w-full md:w-1/2 p-4 h-full min-h-150 md:min-h-400">
                {{ include('components/landing/mobile.html.twig') }}
            </div>
        {% else %}
            <div class="w-full mb-5 sm:mb-0 min-h-400">
                {{ include('components/landing/release.html.twig', {
                    released: isFeatureEnabled(constant('App\\Entity\\Core\\Feature::WEB_APPLICATION'))
                }) }}
            </div>
        {% endif %}
    </section>

    {% if isFeatureEnabled(constant('App\\Entity\\Core\\Feature::NEWS')) %}
        <section class="container mt-12 mb-16 px-5 sm:p-0 sm:mx-auto">
            {{ include('components/news/news_carousel.html.twig', {
                articles: getLatestNews()
            }) }}
        </section>
    {% endif %}

    <section class="container">
        {#        {{ include('components/landing/testimonial.html.twig') }}#}
    </section>

    <section class="container px-5 sm:p-0">
        {{ include('components/landing/newsletter.html.twig', {
            form: newsletterForm
        }) }}
    </section>
{% endblock body %}