{% extends 'base_fluid.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock title %}

{% block body %}
    <div class="container-fluid mt-8">
        {{ include('components/landing/hero.html.twig') }}
    </div>

    {% if isFeatureEnabled(constant('App\\Entity\\Core\\Feature::NEWS')) %}
        <div class="container mt-12 mb-5 sm:mx-auto">
            {{ include('components/news/news_carousel.html.twig', {
                articles: getLatestNews()
            }) }}
        </div>
    {% endif %}

    <div class="container">
{#        {{ include('components/landing/testimonial.html.twig') }}#}
    </div>

    <div class="container">
        {{ include('components/landing/newsletter.html.twig') }}
    </div>
{% endblock body %}