<div class="{{ padding|default('p-4 sm:p-6') }} border border-gray-500 border-top-0 w-full dark:bg-white {{ additionalClass|default }}">
    <div class="flex flex-row">
        <h1 class="flex-grow title-font text-lg font-medium text-gray-900 mb-3">
            <a href="{{ url('news_view', {'id': article.id, 'slug': article.slug}) }}">
                {{ article.title }}
            </a>
        </h1>

        <span class="justify-items-end">{{ article.publishDate|date('d/m/Y') }}</span>
    </div>

    <p class="leading-relaxed mb-3 hidden sm:block">
        {{ article.strapLine|default }}
    </p>

    <div class="flex items-center flex-wrap">
        <a class="text-gray-500 inline-flex items-center w-100 justify-end"
            href="{{ url('news_view', {'id': article.id, 'slug': article.slug}) }}">
            Read More

            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24"
                 stroke="currentColor" stroke-width="2" fill="none"
                 stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
            </svg>
        </a>
    </div>
</div>