<!DOCTYPE html>
<html lang="en" class="{{ (app.user.uuid is defined and app.user.preference is not null and app.user.preference.darkMode) ? 'dark' : '' }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <title>{% block title %}{{ site_name }}{% endblock %}</title>

        {{ include('main/fonts.html.twig') }}
        {{ encore_entry_link_tags('main') }}

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body class="flex flex-col h-screen dark:bg-black-dark">
        {% block header %}
            {% if not hideUserBar|default(true) %}
                {% include 'components/navigation/userbar.html.twig' %}
            {% endif %}

            {% include 'components/navigation/navigation.html.twig' %}
        {% endblock header %}

        <div id="page" class="mb-auto">
            {% block page %}
                {% include 'components/ui/flashes.html.twig' %}

                <div id="page-container" class="w-full flex-grow px-5">
                    {% block body %}{% endblock %}
                </div>
            {% endblock page %}
        </div>

        {% block footer %}
            {% include 'footer/footer.html.twig' %}
        {% endblock footer %}

        {{ include('components/ui/flashes.html.twig') }}

        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
