{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Events - {{ event.name }}
{% endblock title %}

{% set confirmationMessage =
    (repeatSignUp
        ? 'you\'ve already signed up to'
        : 'you\'re all signed up to'
    )
%}

{% block body %}
    <div class="container">
        <div class="row">
            {{ signUp.firstName ~ ' ' ~ signUp.lastName }}, {{ confirmationMessage }} {{ event.name }}.
        </div>
    </div>
{% endblock body %}