{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Events - {{ event.name }}
{% endblock title %}

{% set confirmationMessage =
    (repeatSignUp
        ? 'you\'ve already signed up to'
        : 'you\'re all signed up to'
    )
%}

{% block body %}
    <div class="container mt-4">
        <p>
            {{ signUp.firstName ~ ' ' ~ signUp.lastName }}, {{ confirmationMessage }}
            <a class="link--primary" href="{{ url('event_view', { id: event.id, slug: event.slug }) }}">{{ event.name }}</a>.
        </p>
    </div>
{% endblock body %}