{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Events - Sign Up
{% endblock title %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.submit) }}

                <div class="hidden">
                    {{ form_rest(form) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}