{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Events - {{ event.name }}
{% endblock title %}

{% set canEdit =
    app.user.uuid is defined
    and event.organiser.uuid is same as(app.user.uuid) %}

{% block body %}
    <div class="container mt-4 relative">
        <a href="{{ path('event_edit', {'id': event.id, 'slug': event.slug}) }}" class="flex absolute right-0 top-0 p-2 bg-theme-primary rounded-md items-center">
            <div class="w-5 h-5 ml-1 mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-auto" width="24" height="24" viewBox="0 0 24 24"><path d="M18.363 8.464l1.433 1.431-12.67 12.669-7.125 1.436 1.439-7.127 12.665-12.668 1.431 1.431-12.255 12.224-.726 3.584 3.584-.723 12.224-12.257zm-.056-8.464l-2.815 2.817 5.691 5.692 2.817-2.821-5.693-5.688zm-12.318 18.718l11.313-11.316-.705-.707-11.313 11.314.705.709z"/></svg>
            </div>

            Edit
        </a>

        <div class="grid grid-cols-1 gap-2 text-center mb-4">
            <div class="w-full">
                <h3>{{ event.name }}</h3>
            </div>

            <div class="w-full">
                <p>{{ event.formattedDateTime }}</p>
            </div>

            <div class="w-full">
                <p>
                    Organised by:
                    <a class="link--primary" href="{{ url('app_user_view', {'userName': event.organiser.username}) }}">
                        <span class="text--bold">{{ event.organiser.name }}</span>
                    </a>
                </p>
            </div>
        </div>

        <div class="flex">
            {# todo: after grid is implemented, clean up fractions #}
            <div class="w-full sm:w-full mb-4">
                <h4>Description</h4>
                <p>
                    {{ event.description }}
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid breakout">
        <div class="flex">
            <div class="w-full mb-5 p-0">
                <div id="map"></div>
            </div>
        </div>
    </div>

    <div class="container flex flex-col sm:flex-row">
        <div class="w-full sm:w-2/3">
            <h4 class="mb-3">
                Sign Ups
            </h4>

            <table class="w-full">
                <thead class="text-md text--bold">
                    <tr>
                        <td class="border border-solid border-gray-lighter p-3 dark:text-white">
                            Name
                        </td>
                        <td class="border border-solid border-gray-lighter p-3 dark:text-white">
                            Sign Up Date
                        </td>
                    </tr>
                </thead>
                <tbody>
                {% for signUp in event.signUps %}
                    <tr>
                        <td class="border border-solid border-gray-lighter p-3 dark:text-white">
                            {% if signUp.user is not null %}
                                <a class="link--primary" href="{{ url('app_user_view', { userName: signUp.user.username }) }}">
                                    {{ signUp.name }}
                                </a>
                            {% else %}
                                {{ signUp.name }}
                            {% endif %}
                        </td>
                        <td class="border border-solid border-gray-lighter p-3 dark:text-white">
                            {{ signUp.signUpDate|date('d/m/Y H:i') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="w-full sm:w-1/3 mb-4">
            <div class="col-12 p-3 text-center">
                <h4 class="mb-3">
                    Location
                </h4>

                <p>Allam Sport Centre,</p>
                <p>Inglemire Lane,</p>
                <p>Hull,</p>
                <p>HU6 7TS.</p>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    <script type="application/javascript">
        function initMap() {
            const latLng = { lat: 53.773969, lng: -0.368551 };


            map = new google.maps.Map(document.getElementById('map'), {
                center: latLng,
                zoom: 8,
            });

            marker = new google.maps.Marker({
                position: latLng,
                map,
                title: 'Allam Sport Centre',
            });

            marker.setMap(map);
        }
    </script>

    <script defer type="application/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx-wq3RG2fnxmuNV0dZPmY8d_FE0wPteM&callback=initMap"></script>
{% endblock javascripts %}