{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Events - {{ event.name }}
{% endblock title %}

{% set canEdit = event.organiser.uuid is same as(app.user.uuid) %}

{% block body %}
    <div class="container">
        <div class="row text-center mb-4">
            <div class="col-12">
                <h3>{{ event.name }}</h3>
            </div>

            <div class="col-12">
                {{ event.startDateTime|date('d-m-Y H:i') }} - {{ event.endDateTime|date('H:i') }}
            </div>

            <div class="col-12">
                Organised by:
                <a href="{{ url('app_user_view', {'userName': event.organiser.username}) }}">
                    <span class="text--bold">{{ event.organiser.name }}</span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-{{ canEdit ? 7 : 12 }} col-md-{{ canEdit ? 8 : 12 }} mb-4">
                <h4>Description</h4>
                {{ event.description }}
            </div>

            {% if canEdit %}
                <div class="col-12 col-sm-5 col-md-4 mb-4">
                    <div class="col-12 p-3 theme--background-light">
                        <h4 class="text-center mb-3">Manage</h4>
                        <p class="text-center">
                            Placeholder text for the event edit form.
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="container-fluid breakout">
        <div class="row">
            <div class="col-12 mb-5 p-0">
                <div id="map"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-7 col-md-8">
                <h4>Sign Ups</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <td>Name</td>
                        <td>Sign Up Date</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for signUp in event.signUps %}
                        <tr>
                            <td>
                                {{ signUp.name }}
                            </td>
                            <td>
                                {{ signUp.signUpDate|date('d-m-Y H:i') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-12 col-sm-5 col-md-4 mb-4">
                <div class="col-12 p-3">
                    <h4 class="text-center mb-3">Location</h4>
                    <p>Allam Sport Centre,</p>
                    <p>Inglemire Lane,</p>
                    <p>Hull,</p>
                    <p>HU6 7TS.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    <script type="application/javascript">
        function initMap() {
            const latLng = { lat: 53.773969, lng: -0.368551 };


            map = new google.maps.Map(document.getElementById("map"), {
                center: latLng,
                zoom: 8,
            });

            marker = new google.maps.Marker({
                position: latLng,
                map,
                title: 'Allam Sport Centre',
            });

            marker.setMap(map);
        }
    </script>

    <script defer type="application/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx-wq3RG2fnxmuNV0dZPmY8d_FE0wPteM&callback=initMap"></script>
{% endblock javascripts %}