{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Events - {{ event.name }}
{% endblock title %}

{% set canEdit =
    app.user.uuid is defined
    and event.organiser.uuid is same as(app.user.uuid) %}

{% block body %}
    <div class="container mt-4">
        <div class="flex text-center mb-4">
            <div class="w-full">
                <h3>{{ event.name }}</h3>
            </div>

            <div class="w-full">
                {{ event.formattedDateTime }}
            </div>

            <div class="w-full">
                Organised by:
                <a class="link--primary" href="{{ url('app_user_view', {'userName': event.organiser.username}) }}">
                    <span class="text--bold">{{ event.organiser.name }}</span>
                </a>
            </div>
        </div>

        <div class="flex">
            {# todo: after grid is implemented, clean up fractions #}
            <div class="w-full sm:w-{{ canEdit ? '2/3' : 'full' }} mb-4">
                <h4>Description</h4>
                {{ event.description }}
            </div>

            {% if canEdit %}
                <div class="w-full sm:w-1/3 mb-4">
                    <div class="w-auto p-3 theme--background-light">
                        <h4 class="text-center mb-3">Manage</h4>
                        <p class="text-center">
                            Placeholder text for the event edit form.
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="container-fluid breakout">
        <div class="flex">
            <div class="w-full mb-5 p-0">
                <div id="map"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="flex">
            <div class="w-full sm:w-2/3">
                <h4>Sign Ups</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <td>Name</td>
                        <td>Sign Up Date</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for signUp in event.signUps %}
                        <tr>
                            <td>
                                {{ signUp.name }}
                            </td>
                            <td>
                                {{ signUp.signUpDate|date('d/m/Y H:i') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="w-full sm:w-1/3 mb-4">
                <div class="col-12 p-3">
                    <h4 class="text-center mb-3">Location</h4>
                    <p>Allam Sport Centre,</p>
                    <p>Inglemire Lane,</p>
                    <p>Hull,</p>
                    <p>HU6 7TS.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    <script type="application/javascript">
        function initMap() {
            const latLng = { lat: 53.773969, lng: -0.368551 };


            map = new google.maps.Map(document.getElementById("map"), {
                center: latLng,
                zoom: 8,
            });

            marker = new google.maps.Marker({
                position: latLng,
                map,
                title: 'Allam Sport Centre',
            });

            marker.setMap(map);
        }
    </script>

    <script defer type="application/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx-wq3RG2fnxmuNV0dZPmY8d_FE0wPteM&callback=initMap"></script>
{% endblock javascripts %}